header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

.logo {
  width: 12rem;
  height: 8rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.search-container i {
  position: relative;
  left: 2.5rem;
  color: #888;
}

.search-input {
  width: 100%;
  max-width: 700px;
  padding: 1rem 1rem 1rem 3.5rem;
  border: 1px solid #ccc;
  border-radius: 2.5rem;
  outline: none;
  transition: 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #555;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.nav-container {
  background-color: #f8f8f8;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.category-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.category-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}

.category-link:hover {
  text-decoration: underline;
}

.icon-container {
  display: flex;
  gap: 1.5rem;
}

.icon-link {
  text-decoration: none;
  color: #464646;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

.icon-link:hover {
  transform: scale(1.2);
}
